<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid">
    <%= link_to image_tag("http://cdn.onlinewebfonts.com/svg/img_503358.png"), lists_path, class: "navbar-brand" %>
    <%= link_to 'Create new list', new_list_path, class: "dropdown-item text-end" %>
    </div>
  </div>
</div>
