
<div class="home-banner">
    <div class="typed-js" data-controller="typed-js"></div>
</div>

  <div class="cards-container">
    <% @lists.each do |list| %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=list.photo.attached? ? cl_image_path(list.photo.key) : list.picture_url%>)">
        <div class="list-name"><%= link_to list.name, list_path(list)%></div>
        <div class="icon-1"><%= link_to '<i class="fa-solid fa-xmark"></i>'.html_safe, list_path(list), method: :delete, data: { confirm: 'Are you sure?' }, class: "delete_list" %></div>
      </div>
          <% end %>
  </div>


</div>
