.home-banner {
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.refinery29.com%2Fimages%2F9556999.jpg%3Fcrop%3D40%3A21&f=1&nofb=1');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}
