.cards-container {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  .cards {
    display: grid;
    flex-grow: 1;
    padding: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
  }
  .card {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    height: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 32px;
    color: white;
    font-weight: bolder;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
    border-radius: 2px;

  }
}

.overview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-img {
  max-height: 500px;
  object-fit: cover;
}
