.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;

  .card {
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 8px;
    width: 400px;
    height: 300px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;

    :hover {
      color: rgb(70, 0, 0);
      transition: 1s;
    }
    a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
    font-size: 36px;
    }
  }
  .icon-1 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
    font-size: 24px;
  }
  .icon-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 8px;
    font-size: 24px;
  }
}
.overview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-img {
  max-height: 500px;
  object-fit: cover;
}
