.cards-container {
  display: flex;
  flex-direction: wrap;
  margin-left: 100px;
  margin-right: 100px;
  .cards {

  }

  .card {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    height: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 32px;
    color: white;
    font-weight: bolder;
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
    border-radius: 8px;
    :hover {
      color: rgb(70, 0, 0);
      transition: 1s;
    }

  }
}

.overview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-img {
  max-height: 500px;
  object-fit: cover;
}

.list_name {
  text-decoration: none;
  text-align: center;
  color: white;
  background-size: cover;
  background-position: center;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}
.add_movie {
  color: red;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  :hover {
    color: rgb(70, 0, 0);
    transition: 1s;
  }
}
.delete_list{
  color: red;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  :hover {
    color: rgb(70, 0, 0);
    transition: 1s;
  }
}
